h1{
    color: rgb(116, 7, 143);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 80px;
    box-shadow: 0 15px 50px rgb(219, 205, 9);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;

    }



p{
    color: rgb(49, 16, 236);
    font-size: 50cap
    font-family: fantasy;
}

.firstheading{
     color: rgb(207, 31, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 80px;
    box-shadow: 0 15px 50px rgb(32, 118, 247);
    text-decoration: underline;
    text width: 100%;

}



li{
    color: rgb(0, 30, 165);
    size: 180px;
    text-decoration-color: rgb(255, 51, 0);
}

ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(4, 0, 255);
}