BODY{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, red, #feb47b);
    align-items: center;
    flex-direction:column-reverse 
    display:flex;
    justify-content::space-around;
    height: 6px;
}

header {
    background: #333;
    color: #18e6e6;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(12, 12, 12);
    margin-bottom: 35px;
    text-align: center;
    animation: fadeIn 3s ease-in-out;
}

h1 {
    font-size: 45px;
    margin: 0;
    padding: 20px;
    color: blue;
}

p {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    color: #000000;
}

.card:hover {
    transform: 2;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}
.card {
    background: #e93077;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.897);
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-style: inherit;
}


h2 {
    font-family: fantasy;
    font-size: 30px;
    margin: 0;
    padding: 10px;
    color:chartreuse

    @keyframes fadeIn {
        from {
                opacity: 0;transform: translateY(-100px);{
                    opacity: 1;transform: translateY(60PX);
            
        
    }

    @media screen and (max-width: 600px) {
           max-width: 60   px;
            margin: 0 auto;
            padding: 10px;
            font-size: 14px;
        }
    }