.header{
    height: 80px;
    background-color: #1eb8d3;
    border: 2px solid #0a0d0e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article{
    border: 1px solid #0a0d0e;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0a0d0e;
    box-shadow: 4px 14px rgba(33, 1, 59, 0.2);
}
.article-heading{
    color: rgb(15, 193, 224);
    margin: 0;
    padding: 2px;
}

.article-content{
    color: rgb(255, 255, 255);
}

.article-button{
    color:black;
    background-color: #1eb8d3;
}

.article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
